In [1]:
#import dependencies
import pandas as pd
import json
import requests

# Impor the OpenWeatherMap API key
from api_keys import geoapify_key

# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

In [2]:
#read csv files
Centres_df = pd.read_csv("Centres.csv")
Centres_df

   Centre_id                         Centres
0    centre1                      St. John's
1    centre2                         Halifax
2    centre3                         Moncton
3    centre4                      Saint John
4    centre5                        Saguenay
5    centre6                        Montréal
6    centre7                        Gatineau
7    centre8                          Québec
8    centre9                      Sherbrooke
9   centre10                  Trois-Rivières
10  centre11                          Barrie
11  centre12                      Belleville
12  centre13                       Brantford
13  centre14                          Guelph
14  centre15                        Hamilton
15  centre16                        Kingston
16  centre17  Kitchener - Cambridge - Waterl
17  centre18                          London
18  centre19        St. Catharines - Niagara
19  centre20                          Oshawa
20  centre21                          Ottawa
21  centre22                    Peterborough
22  centre23  Greater Sudbury / Grand Sudbur
23  centre24                     Thunder Bay
24  centre25                         Toronto
25  centre26                         Windsor
26  centre27                        Winnipeg
27  centre28                          Regina
28  centre29                       Saskatoon
29  centre30                         Calgary
30  centre31                        Edmonton
31  centre32                      Lethbridge
32  centre33            Abbotsford - Mission
33  centre34                         Kelowna
34  centre35                       Vancouver
35  centre36                        Victoria

In [3]:
Centres_df['Lat'] = ''
Centres_df['Lon'] = ''
Centres_df.head()

  Centre_id     Centres Lat Lon
0   centre1  St. John's
1   centre2     Halifax
2   centre3     Moncton
3   centre4  Saint John
4   centre5    Saguenay

In [4]:
def GetCoordinates(df):    
    base_url = "https://api.geoapify.com/v1/geocode/search?"
    params = {
                "text":"",
                 "type": "city",
                 "format":"json",
                 "apiKey": geoapify_key
            }

    for index, row in df.iterrows():

        # Create search query, make request and store in json
        params["text"] = f"{row['Centres']}, Canada"
        response = requests.get(base_url, params).json()

        try:
            df.loc[index, "Lat"] = response['results'][0]['lat']
            df.loc[index, "Lon"] = response['results'][0]['lon']
        except:
            print("City not found. Skipping...")
            pass


    # Indicate that Data Loading is complete 
    print("-----------------------------")
    print("Data Retrieval Complete      ")
    print("-----------------------------")
    
    return df

In [10]:
Centres_df = GetCoordinates(Centres_df)
Centres_df.head()

-----------------------------
Data Retrieval Complete
-----------------------------

  Centre_id     Centres        Lat        Lon
0   centre1  St. John's   47.56147 -52.712616
1   centre2     Halifax  44.648618 -63.585949
2   centre3     Moncton  46.097995  -64.80011
3   centre4  Saint John  45.341175 -65.763447
4   centre5    Saguenay  48.405959 -71.069183

In [11]:
Centres_df

   Centre_id                         Centres        Lat         Lon
0    centre1                      St. John's   47.56147  -52.712616
1    centre2                         Halifax  44.648618  -63.585949
2    centre3                         Moncton  46.097995   -64.80011
3    centre4                      Saint John  45.341175  -65.763447
4    centre5                        Saguenay  48.405959  -71.069183
5    centre6                        Montréal  45.503182  -73.569806
6    centre7                        Gatineau  45.427766  -75.710976
7    centre8                          Québec  46.813743  -71.208406
8    centre9                      Sherbrooke  45.403271  -71.889038
9   centre10                  Trois-Rivières  46.343232  -72.542849
10  centre11                          Barrie  44.389311  -79.690174
11  centre12                      Belleville  44.243633   -77.36076
12  centre13                       Brantford  43.140816  -80.263173
13  centre14                          Guelph  43.546052  -80.249328
14  centre15                        Hamilton   43.25608  -79.872858
15  centre16                        Kingston  44.305415  -76.428378
16  centre17  Kitchener - Cambridge - Waterl  43.418345  -80.468831
17  centre18                          London  42.983241  -81.243372
18  centre19        St. Catharines - Niagara  43.157981    -79.2441
19  centre20                          Oshawa  43.897556  -78.863532
20  centre21                          Ottawa  45.420878  -75.690111
21  centre22                    Peterborough  44.304801   -78.31995
22  centre23  Greater Sudbury / Grand Sudbur  46.577851   -81.00786
23  centre24                     Thunder Bay  48.406414  -89.259796
24  centre25                         Toronto  43.653482  -79.383935
25  centre26                         Windsor  42.285854   -82.97807
26  centre27                        Winnipeg  49.895537  -97.138458
27  centre28                          Regina   50.44876  -104.61731
28  centre29                       Saskatoon  52.131802 -106.660767
29  centre30                         Calgary  51.046095 -114.065465
30  centre31                        Edmonton  53.546205 -113.491241
31  centre32                      Lethbridge  49.694578 -112.833103
32  centre33            Abbotsford - Mission  49.071653 -122.269288
33  centre34                         Kelowna  49.887918 -119.495902
34  centre35                       Vancouver  49.260872 -123.113952
35  centre36                        Victoria  48.428318 -123.364953

In [12]:
Zones_df = pd.read_csv("Zones.csv")
Zones_df

     Zone_id                            Zones
0      Zone1                  St. John's East
1      Zone2                  St. John's West
2      Zone3                 Remainder of CMA
3      Zone4                  Peninsula South
4      Zone5                  Peninsula North
..       ...                              ...
267  Zone268  Langford/Vw Royal/Colwood/Sooke
268  Zone269                          Oak Bay
269  Zone270                    North Saanich
270  Zone271                           Sidney
271  Zone272          Saint-Lin-Laurentides V

[272 rows x 2 columns]

In [13]:
Zones_df['Lat'] = ''
Zones_df['Lon'] = ''
Zones_df.head()

  Zone_id             Zones Lat Lon
0   Zone1   St. John's East
1   Zone2   St. John's West
2   Zone3  Remainder of CMA
3   Zone4   Peninsula South
4   Zone5   Peninsula North

In [14]:
def GetCoordinates_Zones(df):    
    base_url = "https://api.geoapify.com/v1/geocode/search?"
    params = {
                "text":"",
                 "type": "city",
                 "format":"json",
                 "apiKey": geoapify_key
            }

    for index, row in df.iterrows():

        # Create search query, make request and store in json
        params["text"] = f"{row['Zones']}, Canada"
        response = requests.get(base_url, params).json()

        try:
            df.loc[index, "Lat"] = response['results'][0]['lat']
            df.loc[index, "Lon"] = response['results'][0]['lon']
        except:
            print("City not found. Skipping...")
            pass


    # Indicate that Data Loading is complete 
    print("-----------------------------")
    print("Data Retrieval Complete      ")
    print("-----------------------------")
    
    return df

In [15]:
Zones_df = GetCoordinates_Zones(Zones_df)
Zones_df.head()

City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

  Zone_id             Zones        Lat        Lon
0   Zone1   St. John's East   40.55588  -84.08356
1   Zone2   St. John's West   40.55588  -84.08356
2   Zone3  Remainder of CMA
3   Zone4   Peninsula South  45.286546 -81.696908
4   Zone5   Peninsula North  41.491682 -81.696249

In [17]:
Zones_df.sample(100)

     Zone_id                       Zones        Lat         Lon
127  Zone128                  St. Thomas  42.779022  -81.192988
30    Zone31  ND-de-Grâce/Ct-St-Luc etc.
20    Zone21                       North  43.572112  -80.248328
119  Zone120                    Waterloo   43.46527  -80.522296
109  Zone110                    Mountain  36.681391 -121.602478
..       ...                         ...        ...         ...
113  Zone114           Downtown Kingston  50.452985  -104.61401
159  Zone160           Toronto (Central)   43.64877   -79.38171
214  Zone215        Hudson's Bay Reserve  56.179703  -98.381394
8      Zone9             Dartmouth South  44.679971  -63.572023
205  Zone206            Assiniboine Park  49.859645  -97.240763

[100 rows x 4 columns]

In [18]:
#Save the dataframes
Centres_df.to_csv("Centres_latlon.csv", index=False)
Zones_df.to_csv("Zones_latlon.csv", index=False)