In [16]:
#import dependencies
import pandas as pd
import json
import requests
import numpy as np

In [17]:
Rental_df = pd.read_csv("Rental Data.csv")
Vacancy_df = pd.read_csv("Vacancy Rate Data.csv")
Number_of_units_df = pd.read_csv("Number of Units Data.csv")
Centres_df = pd.read_csv("Centres_latlon.csv")
Zones_df = pd.read_csv("Zones_latlon.csv")

In [18]:
Rental_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total', 'Year',
       'Centre_id', 'Zone_id', 'Rent ID'],
      dtype='object')

In [19]:
Vacancy_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total', 'Year',
       'Centre_id', 'Zone_id', 'VR_ID'],
      dtype='object')

In [20]:
Number_of_units_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total', 'Year',
       'Centre_id', 'Zone_id', 'Units_ID'],
      dtype='object')

In [21]:
Vacancy_df = Vacancy_df.rename(columns = {  'Bachelor': 'VR Bachelor', '1 Bedroom': 'VR 1 Bedroom' , '2 Bedroom' : 'VR 2 Bedroom', '3 Bedroom +': 'VR 3 Bedroom +', 'Total' : 'VR Total'})
Vacancy_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'VR Bachelor', 'VR 1 Bedroom', 'VR 2 Bedroom', 'VR 3 Bedroom +',
       'VR Total', 'Year', 'Centre_id', 'Zone_id', 'VR_ID'],
      dtype='object')

In [23]:
Vacancy_df = Vacancy_df[['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'VR Bachelor', 'VR 1 Bedroom', 'VR 2 Bedroom', 'VR 3 Bedroom +',
       'VR Total', 'Year', 'Centre_id', 'Zone_id']]
Vacancy_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'VR Bachelor', 'VR 1 Bedroom', 'VR 2 Bedroom', 'VR 3 Bedroom +',
       'VR Total', 'Year', 'Centre_id', 'Zone_id'],
      dtype='object')

In [24]:
Rental_df = Rental_df.rename(columns = {  'Bachelor': 'AR Bachelor', '1 Bedroom': 'AR 1 Bedroom' , '2 Bedroom' : 'AR 2 Bedroom', '3 Bedroom +': 'AR 3 Bedroom +', 'Total' : 'AR Total'})
Rental_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom', 'AR 3 Bedroom +',
       'AR Total', 'Year', 'Centre_id', 'Zone_id', 'Rent ID'],
      dtype='object')

In [25]:
Rental_df = Rental_df[['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom', 'AR 3 Bedroom +', 'AR Total',
       'Year', 'Centre_id', 'Zone_id']]
Rental_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom', 'AR 3 Bedroom +',
       'AR Total', 'Year', 'Centre_id', 'Zone_id'],
      dtype='object')

In [26]:
Number_of_units_df = Number_of_units_df.rename(columns = {  'Bachelor': 'Units Bachelor', '1 Bedroom': 'Units 1 Bedroom' , '2 Bedroom' : 'Units 2 Bedroom', '3 Bedroom +': 'Units 3 Bedroom +', 'Total' : 'Units Total'})
Number_of_units_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'Units Bachelor', 'Units 1 Bedroom', 'Units 2 Bedroom',
       'Units 3 Bedroom +', 'Units Total', 'Year', 'Centre_id', 'Zone_id',
       'Units_ID'],
      dtype='object')

In [30]:
Number_of_units_df = Number_of_units_df[['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'Units Bachelor', 'Units 1 Bedroom', 'Units 2 Bedroom',
       'Units 3 Bedroom +', 'Units Total', 'Year', 'Centre_id', 'Zone_id']]
Number_of_units_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'Units Bachelor', 'Units 1 Bedroom', 'Units 2 Bedroom',
       'Units 3 Bedroom +', 'Units Total', 'Year', 'Centre_id', 'Zone_id'],
      dtype='object')

In [37]:
Combined_df = pd.merge(Rental_df,Vacancy_df, on = ['Province','Centres','Zones','Neighbourhood','Dwelling Type ','Year', 'Centre_id', 'Zone_id'],  how = 'left')

,Province,Centres,Zones,Neighbourhood,Dwelling Type,AR Bachelor,AR 1 Bedroom,AR 2 Bedroom,AR 3 Bedroom +,AR Total,Year,Centre_id,Zone_id,VR Bachelor,VR 1 Bedroom,VR 2 Bedroom,VR 3 Bedroom +,VR Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018,centre1,Zone1,0.0,0.0,0.0,0.0,0.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018,centre1,Zone1,0.0,3.9,6.4,5.2,5.6
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018,centre1,Zone2,0.0,0.0,0.0,0.0,1.5
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018,centre1,Zone2,3.9,6.1,6.1,0.0,6.2
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,2018,centre1,Zone3,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022,centre36,Zone269,0.0,0.2,1.1,0.0,0.7
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,2022,centre36,Zone270,0.0,0.0,0.0,0.0,0.0
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,2022,centre36,Zone270,0.0,0.0,0.0,0.0,0.0
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,2022,centre36,Zone271,0.0,0.0,0.0,0.0,0.0
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022,centre36,Zone271,0.0,0.0,6.9,0.0,0.0

In [38]:
Combined_df = pd.merge(Combined_df,Number_of_units_df, on = ['Province','Centres','Zones','Neighbourhood','Dwelling Type ','Year', 'Centre_id', 'Zone_id'],  how = 'left')
Combined_df

,Province,Centres,Zones,Neighbourhood,Dwelling Type,AR Bachelor,AR 1 Bedroom,AR 2 Bedroom,AR 3 Bedroom +,AR Total,...,VR Bachelor,VR 1 Bedroom,VR 2 Bedroom,VR 3 Bedroom +,VR Total,Units Bachelor,Units 1 Bedroom,Units 2 Bedroom,Units 3 Bedroom +,Units Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,...,0.0,0.0,0.0,0.0,0.0,1.0,22.0,16.0,16.0,55.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,...,0.0,3.9,6.4,5.2,5.6,203.0,641.0,1015.0,107.0,1966.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,...,0.0,0.0,0.0,0.0,1.5,0.0,46.0,21.0,0.0,67.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,...,3.9,6.1,6.1,0.0,6.2,149.0,427.0,859.0,126.0,1561.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0,6.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,...,0.0,0.2,1.1,0.0,0.7,33.0,370.0,283.0,3.0,689.0
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,...,0.0,0.0,6.9,0.0,0.0,13.0,248.0,163.0,21.0,445.0

In [39]:
Combined_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom', 'AR 3 Bedroom +',
       'AR Total', 'Year', 'Centre_id', 'Zone_id', 'VR Bachelor',
       'VR 1 Bedroom', 'VR 2 Bedroom', 'VR 3 Bedroom +', 'VR Total',
       'Units Bachelor', 'Units 1 Bedroom', 'Units 2 Bedroom',
       'Units 3 Bedroom +', 'Units Total'],
      dtype='object')

In [40]:
ID = np.arange(1, len(Combined_df) + 1)
df_id = ['ID_' + str(each) for each in ID]
Combined_df["ID"] = df_id
Combined_df

,Province,Centres,Zones,Neighbourhood,Dwelling Type,AR Bachelor,AR 1 Bedroom,AR 2 Bedroom,AR 3 Bedroom +,AR Total,...,VR 1 Bedroom,VR 2 Bedroom,VR 3 Bedroom +,VR Total,Units Bachelor,Units 1 Bedroom,Units 2 Bedroom,Units 3 Bedroom +,Units Total,ID
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,...,0.0,0.0,0.0,0.0,1.0,22.0,16.0,16.0,55.0,ID_1
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,...,3.9,6.4,5.2,5.6,203.0,641.0,1015.0,107.0,1966.0,ID_2
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,...,0.0,0.0,0.0,1.5,0.0,46.0,21.0,0.0,67.0,ID_3
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,...,6.1,6.1,0.0,6.2,149.0,427.0,859.0,126.0,1561.0,ID_4
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,64.0,6.0,70.0,ID_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,...,0.2,1.1,0.0,0.7,33.0,370.0,283.0,3.0,689.0,ID_8946
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ID_8947
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ID_8948
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ID_8949
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,...,0.0,6.9,0.0,0.0,13.0,248.0,163.0,21.0,445.0,ID_8950

In [41]:
Combined_df.keys()

Index(['Province', 'Centres', 'Zones', 'Neighbourhood', 'Dwelling Type ',
       'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom', 'AR 3 Bedroom +',
       'AR Total', 'Year', 'Centre_id', 'Zone_id', 'VR Bachelor',
       'VR 1 Bedroom', 'VR 2 Bedroom', 'VR 3 Bedroom +', 'VR Total',
       'Units Bachelor', 'Units 1 Bedroom', 'Units 2 Bedroom',
       'Units 3 Bedroom +', 'Units Total', 'ID'],
      dtype='object')

In [42]:
Combined_df = Combined_df[['ID','Province', 'Centres', 'Zones', 'Neighbourhood', 'Year','Centre_id', 'Zone_id',
       'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom', 'AR 3 Bedroom +',
       'AR Total', 'VR Bachelor','VR 1 Bedroom', 'VR 2 Bedroom', 'VR 3 Bedroom +', 'VR Total',
       'Units Bachelor', 'Units 1 Bedroom', 'Units 2 Bedroom',
       'Units 3 Bedroom +', 'Units Total']]

In [43]:
Combined_df

,ID,Province,Centres,Zones,Neighbourhood,Year,Centre_id,Zone_id,AR Bachelor,AR 1 Bedroom,...,VR Bachelor,VR 1 Bedroom,VR 2 Bedroom,VR 3 Bedroom +,VR Total,Units Bachelor,Units 1 Bedroom,Units 2 Bedroom,Units 3 Bedroom +,Units Total
0,ID_1,Nfld.Lab.,St. John's,St. John's East,St. John's East,2018,centre1,Zone1,0.0,783.0,...,0.0,0.0,0.0,0.0,0.0,1.0,22.0,16.0,16.0,55.0
1,ID_2,Nfld.Lab.,St. John's,St. John's East,St. John's East,2018,centre1,Zone1,664.0,829.0,...,0.0,3.9,6.4,5.2,5.6,203.0,641.0,1015.0,107.0,1966.0
2,ID_3,Nfld.Lab.,St. John's,St. John's West,St. John's West,2018,centre1,Zone2,0.0,0.0,...,0.0,0.0,0.0,0.0,1.5,0.0,46.0,21.0,0.0,67.0
3,ID_4,Nfld.Lab.,St. John's,St. John's West,St. John's West,2018,centre1,Zone2,762.0,773.0,...,3.9,6.1,6.1,0.0,6.2,149.0,427.0,859.0,126.0,1561.0
4,ID_5,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,2018,centre1,Zone3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0,6.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,ID_8946,B.C.,Victoria,Oak Bay,Oak Bay North,2022,centre36,Zone269,1107.0,1226.0,...,0.0,0.2,1.1,0.0,0.7,33.0,370.0,283.0,3.0,689.0
8946,ID_8947,B.C.,Victoria,North Saanich,North Saanich,2022,centre36,Zone270,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8947,ID_8948,B.C.,Victoria,North Saanich,North Saanich,2022,centre36,Zone270,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8948,ID_8949,B.C.,Victoria,Sidney,Sidney,2022,centre36,Zone271,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8949,ID_8950,B.C.,Victoria,Sidney,Sidney,2022,centre36,Zone271,0.0,1447.0,...,0.0,0.0,6.9,0.0,0.0,13.0,248.0,163.0,21.0,445.0

In [44]:
Combined_df.keys()

Index(['ID', 'Province', 'Centres', 'Zones', 'Neighbourhood', 'Year',
       'Centre_id', 'Zone_id', 'AR Bachelor', 'AR 1 Bedroom', 'AR 2 Bedroom',
       'AR 3 Bedroom +', 'AR Total', 'VR Bachelor', 'VR 1 Bedroom',
       'VR 2 Bedroom', 'VR 3 Bedroom +', 'VR Total', 'Units Bachelor',
       'Units 1 Bedroom', 'Units 2 Bedroom', 'Units 3 Bedroom +',
       'Units Total'],
      dtype='object')

In [45]:
Combined_df.dtypes

ID                    object
Province              object
Centres               object
Zones                 object
Neighbourhood         object
Year                   int64
Centre_id             object
Zone_id               object
AR Bachelor          float64
AR 1 Bedroom         float64
AR 2 Bedroom         float64
AR 3 Bedroom +       float64
AR Total             float64
VR Bachelor          float64
VR 1 Bedroom         float64
VR 2 Bedroom         float64
VR 3 Bedroom +       float64
VR Total             float64
Units Bachelor       float64
Units 1 Bedroom      float64
Units 2 Bedroom      float64
Units 3 Bedroom +    float64
Units Total          float64
dtype: object

In [46]:
Centres_df.keys()

Index(['Centre_id', 'Centres', 'Lat', 'Lon'], dtype='object')

In [47]:
Zones_df.keys()

Index(['Zone_id', 'Zones', 'Lat', 'Lon'], dtype='object')

In [48]:
Combined_df.to_csv("Combined Data.csv", index=False)

In [49]:
Centres_df.dtypes

Centre_id     object
Centres       object
Lat          float64
Lon          float64
dtype: object

In [51]:
Zones_df.dtypes

Zone_id     object
Zones       object
Lat        float64
Lon        float64
dtype: object